.about {
  padding-top: 85px;
  padding-right: 2em;
  padding-left: 2em;
}

.profile-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.cardPic {
  height: 14em;
  width: 14em;
}

.cardText{
  padding-top: 1em;
  padding-bottom: 1em;
}

.cardLink a {
  display: block;
  margin-right: 3em;
  background: #686868;
  color: #FFFFFF;
  font-family: 'Josefin Sans';
  text-align: center;
  padding: .5em .7em;
}

.cardLink a:hover, a:focus {
  font-weight: bold;
  text-decoration:none;
}

.profile-text{
  padding: 1em;
}

/*Responsive styles*/
/*Extra small devices */
@media (max-width: 575.98px){
  .about {
  	padding-right: 1em;
  	padding-left: 1em;
  }

  .profile-card {
  	grid-column: span 2;
  }

  .profile-card {
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
  	padding: 0em;
  }

  .cardPic {
	height: 12em;
	width: 20em;
	margin-right: .5em;
  }

  .cardText{
    padding-left: .5em;
  }

  .profile-text {
  	grid-column: 1/-1;
  	padding: .2em;
  }
} 