.profile-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: .2px solid #a6a6a6;
  border-radius: 3px;
}

.side {
  margin-top: 2.3em;
}

.cardPic {
  max-height: 14em;
  max-width: 14em;
}

.cardText{
  padding-top: 1em;
  padding-bottom: 1em;
}

.cardLink {
  display: flex;
  justify-content: start;
}

.cardLink a {
  color: #686868;
  font-size: 1.5em;
  font-family: 'Josefin Sans';
  padding-right: 1em;
}

.cardLink a:hover, a:focus {
  font-weight: bold;
  text-decoration:none;
}

.profile-text{
  padding: 1em;
}

/*Responsive styles*/
/*Extra small devices */
@media (max-width: 575.98px){
  .about {
  	padding-right: 1em;
  	padding-left: 1em;
  }

  .side {
  	grid-column: span 2;
    margin-top: 0em;
  }

  .profile-card {
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
  	padding-right: 1em;
    padding-left: 1em;
  }

  .cardPic {
	height: 12em;
	width: 20em;
	margin-right: .5em;
  }

  .cardText{
    padding-left: .5em;
  }

  .profile-text {
  	grid-column: 1/-1;
  	padding: .2em;
  }

  .cardLink {
    justify-content: end;
  }
} 