.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
  box-sizing: border-box;
  font-family: 'Josefin Sans'
}

.bg{
  background-color: #ffc40c;
  color: #FFFFFF;
}

.scrolled{
  background-color: #ffc40c;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
}

.navBrand {
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

.navLinks {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-right: 1em;
}

.navItems {
	padding: .5em;
}

.navLink{
	padding: .5em;
}

.navLink a {
	color: #FFFFFF;
	text-decoration: none;
}

.navLink a:hover, nav a:focus {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.navToggler{
	font-size: 1.5em;
	display: none;
}


@media (max-width: 575.98px){
	.Navbar {
		flex-direction: column;
	}

	.navLinks {
		display: none;
	}

	.show {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0;
	}

	.navToggler{
		font-size: 1.5em;
		display: initial;
	}

}